<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<p th:inline="text">




    You are [[${color.name}]] and your quest is [[${color.quest}]].
    You may proceed across the Bridge!

    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/an-aerial-view-of-a-section-of-the-55-kilometer-long-hong-news-photo-1052809300-1540310408.jpg" alt="Bridge" style="width: 500px;height: 600px">
</p>






</body>
</html>